
VITE_SUPABASE_URL=
VITE_SUPABASE_PUBLISHABLE_DEFAULT_KEY=
VITE_API_URL=http://localhost:3000
# Stripe
VITE_STRIPE_PUBLISHABLE_KEY=pk_test_...
VITE_STRIPE_PRICE_STARTER_FLAT=price_...
VITE_STRIPE_PRICE_GROWTH_FLAT=price_...
VITE_STRIPE_PRICE_PRO_FLAT=price_...
